
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Define font (khai báo font) */
@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: Lato-Italic;
    src: url('../fonts/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../fonts/Lato/Lato-Light.ttf');
}
body {
    font-family: Cambria, Cochin;
    color: var(--primary-color);
    background-color: #aad9f8;
}
  
/* header */
  .bg-light {
    background-color: #f8f9fa !important;
}
.navbar {
    padding-top: 19px;
    padding-bottom: 19px;
}

  .form-container {
    background: white; 
    padding: 20px;
    max-width: 400px;
    margin: 0 auto 400px auto;   
    transform: translateY(50%);
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  